@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Barlow", sans-serif;
}

.lines-content * {
  font-family: 'IBM Plex Mono', monospace;
}

html {
  background-color: white;
  color: black;
}

body {
  color: black;
}

html.dark {
  background-color: #06121F;
}

html.dark body {
  color: #FFFFFF;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}

/* Color styles */
.hh1 { color: #EF3939; } /* attribute */
.hh2 { color: #A8DADC; } /* constant */
.hh3 { color: #F2F8FA; } /* function.builtin */
.hh4 { color: #F2F8FA; } /* function */
.hh5 { color: #A8DADC; } /* keyword */
.hh6 { color: #D2D7B4; } /* operator */
.hh7 { color: #A8DADC; } /* property */
.hh8 { color: #F2F8FA; } /* punctuation */
.hh9 { color: #F2F8FA; } /* punctuation.bracket */
.hh10 { color: #F2F8FA; } /* punctuation.delimiter */
.hh11 { color: #F2F8FA; } /* string */
.hh12 { color: #F2F8FA; } /* string.special */
.hh13 { color: #F2F8FA; } /* tag */
.hh14 { color: #D2D7B4; } /* type */
.hh15 { color: #D2D7B4; } /* type.builtin */
.hh16 { color: #A8DADC; } /* variable */
.hh17 { color: #A8DADC; } /* variable.builtin */
.hh18 { color: #F0ADA8; } /* variable.parameter */
.hh19 { color: #F0ADA8; } /* comment */
.hh20 { color: #D2D7B4; } /* macro */
.hh21 { color: #D2D7B4; } /* label */
